<div class="s-login-pg">
	<div class="s-login-pg-title">
		<h5> User Login</h5>
	</div>
	<div class="s-login-pg-head" align="right" width="100%">

			<s-logo align-items="center"></s-logo>
		<h3 align="center" >SLFRS Fair Value Computations</h3>
			<font color="black"><br/><i>Integrated with AD</i></font>
	</div>

	<form class="s-login-pg-form" name="form" (ngSubmit)="login()"
		#f="ngForm" novalidate>
		<input type="text" placeholder="Username (demo)" name="username"
			[(ngModel)]="model.username" #username="ngModel" required /> <input
			type="password" placeholder="Password (demo)" name="password"
			[(ngModel)]="model.password" #password="ngModel" required />
		<button type="submit" class="btn btn-primary">LOG IN</button>
	</form>
	<div class="s-login-pg-foot">
		<div *ngIf="errMsg" style="color: indianred; font-weight: bold">{{errMsg}}</div>
	</div>

</div>
