<div class="s-login-pg">


	<div class="s-login-pg-title">
		<h4>Login</h4>
	</div>

	<div class="s-login-pg-head">
			<s-logo></s-logo>
		<h1>SLFRS System</h1>
	</div>
	<form class="s-login-pg-form" name="form" (ngSubmit)="login()"
		#f="ngForm" novalidate>
		<input type="text" placeholder="Username (demo)" name="username"
			[(ngModel)]="model.username" #username="ngModel" required /> <input
			type="password" placeholder="Password (demo)" name="password"
			[(ngModel)]="model.password" #password="ngModel" required />
		<button type="submit" class="btn btn-primary">LOG IN</button>
	</form>
	<div class="s-login-pg-foot">
		<div *ngIf="errMsg" style="color: indianred; font-weight: bold">{{errMsg}}</div>
	</div>

</div>